	
		<!-- table border="1">
			<tr style="background: lightblue">
				<th>ID</th>
				<th>COMPNAME</th>
				<th>PASSWORD</th>
				<th>EMAIL</th>
			</tr>
			<tr ng-repeat="c in main1.arr">
				<td>{{c.id}}</td>
				<td>{{c.compName}}</td>
				<td>{{c.password}}</td>
				<td>{{c.email}}</td>
		</tr>
		</table -->
<h1><front color="grey"><img src="/home/ariel/Images/add.png">Add Company </front></h1>

		<hr>
		<p style="margin-left:2%">
			<br>
			ID : <br><input type="number" min="1" ng-model="main1.newCompany.id"  placeholder="ID">
		</p>
		<p style="margin-left:2%">
			COMPNAME: <br><input type="text" ng-model="main1.newCompany.compName"  placeholder="Company Name">
		</p>
		<p style="margin-left:2%">
			PASSWORD: <br><input type="password" ng-model="main1.newCompany.password"  placeholder="Password">
		</p>
		<p style="margin-left:2%">
			EMAIL : <br><input type="text" ng-model="main1.newCompany.email"  placeholder="email">
		</p>
		<button ng-click="main1.createCompany()" style="margin-left:1.5%">Add Company</button>
		<br> <br>
		<p ng-show="main1.success" style="color: green; margin-left: 2%">Company
			Successfully created!</p>
		<p ng-show="main1.failure" style="color: red; margin-left: 2%">Company
			was NOT created!</p>
		</p>
		<hr>

